<form action="/bands/add" method="post">
  <div class="form-group">
    <label for="band-name">Name:</label>
    <input class="form-control" id="band-name" name="band-name" type="text" required>
  </div>
  <button class="btn btn-info" type="submit" name="submit-button">Add</button>
</form>
