<form action="/venues/add" method="post">
  <div class="form-group">
    <label for="venue-name">Name:</label>
    <input class="form-control" id="venue-name" name="venue-name" type="text" required>
  </div>
  <button class="btn btn-info" type="submit" name="submit-button">Add</button>
</form>
