@using BandTracker.Models;
@using BandTracker.ViewModels;
@model VenueDetailsModel

<form action="/venues/@Model.CurrentVenue.Id/concerts/add" method="post">
  <div class="form-group">
    <label for="concert-date">Date:</label>
    <input class="form-control" id="concert-date" name="concert-date" type="date" required>
  </div>
  <div class="form-group">
    <label for="concert-band">Band:</label>
    <select class="form-control" id="concert-band" name="concert-band" type="text" required>
      @foreach(Band band in Model.AllBands)
      {
        <option value="@band.Id">@band.Name</option>
      }
    </select>
  </div>
  <button class="btn btn-info" type="submit" name="submit-button">Add</button>
</form>
