@using BandTracker.Models;
@using BandTracker.ViewModels;
@model BandDetailsModel

<form action="/bands/@Model.CurrentBand.Id/concerts/add" method="post">
  <div class="form-group">
    <label for="concert-date">Date:</label>
    <input class="form-control" id="concert-date" name="concert-date" type="date" required>
  </div>
  <div class="form-group">
    <label for="concert-venue">Venue:</label>
    <select class="form-control" id="concert-venue" name="concert-venue" type="text" required>
      @foreach(Venue venue in Model.AllVenues)
      {
        <option value="@venue.Id">@venue.Name</option>
      }
    </select>
  </div>
  <button class="btn btn-success" type="submit" name="submit-button">Add</button>
</form>
